[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
viberbot = "*"
flask = "*"
werkzeug = "*"
requests = "*"
pytest = "*"
gunicorn = "*"
future = "*"
pymongo = {extras = ["srv"], version = "*"}
black = "*"
psycopg2-binary = "*"
python-dotenv = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
