<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful JSON</title>
    <style>
        pre {
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 10px;
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <h1>Beautiful JSON</h1>
    <pre>{{ json_data | tojson(indent=4) }}</pre>
</body>

</html>